#miparrafo {
  color: red;
  font-family: verdana;
}
li > a {
  color: aquamarine !important;
}
.boton {
  background-color: blueviolet;
}
li > a {
  color: yellow;
}
.boton:hover {
  background-color: chocolate;
}
.form {
  max-width: 330px;
  padding: 1rem;
}
